body {
    font-family: 'Merriweather', serif;
    color: #d8d8d8;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1533139143976-30918502365b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.container {
    margin-top: 50px;
}

h3 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.form-control {
    border-radius: 8px;
}

.form-label {
    font-weight: bold;
    font-size: 1.3em;
}

textarea.form-control {
    resize: none;
}

.btn-primary {
    background-color: #8879b9;
    border-color: gray;
    font-weight: bold;
    width: 100%;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #3358db;
    border-color: #3358db;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}